@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Bungee&family=Fredericka+the+Great&family=Fugaz+One&family=Permanent+Marker&family=Rock+Salt&family=Rubik+Mono+One&family=Russo+One&display=swap');

:root{
    --BlackOpsOne:'Black Ops One';
    --RubikMonoOne: 'Rubik Mono One';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 80px;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
    display: flex;
    justify-content: space-between;
    font-family: var(--BlackOpsOne);
}
header.sticy{
    background:rgba(1, 1, 1, .3);
    padding: 5px 80px;
    
}
.brand.sticy{
    animation: spin 2s;
}
@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
header span {
    color:#fff;
    padding-left: 15px;
    font-size: 36px;
    font-weight: 400;
}
header .brand {
    background-color: transparent;
    overflow: hidden;
}
.brand img{
    max-height: 100px;
}
.brand-container{
    display: flex;
    align-items:center;
    cursor: pointer;
}
header span:hover{
    color:yellow;
}
.navigation a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 200;
}
.navigation a:hover{
    color:yellow;
}
section{
    padding: 100px;
}
.main{
    position: relative;
    width: 100%;
    background:url(/images/background.jpg) no-repeat;
    background-size:cover;
    min-height: 100vh;
    display: flex;
    align-items:center;
    font-family: var(--BlackOpsOne);
    color:#fff;
}
.main h2{
    padding: 5px;
    font-size: 52px;
    font-weight: 500;
    text-transform: capitalize;
    background: rgba(0,0,0, 0.2);
}
.section-title{
    font-family: var(--RubikMonoOne);
    text-align: center;
    font-size: 36px;
    text-decoration:underline;
    font-weight: 400;
    margin-bottom: 60px;
    color:#666;
}
.gallery .content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.gallery .content .card {
    width: 30%;
    height: 300px;
    cursor: pointer;
    margin: 15px;
    position: relative;
    overflow: hidden;
    border: radius 5px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 45%);
}
.gallery .content .card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:5px;
    transition: .5s ease;
}
.gallery .content .card i{
    position: absolute;
    background-color:rgba(1, 1, 1, 50%);
    padding: 7px 10px;
    border-radius:4px;
    color:#fff;
    right: 10px;
    bottom: 10px;
    font-size: 17px;
    cursor: pointer;
}
.gallery .content .card img:hover{
    transform: scale(1.2);
}
.btn{
    background: crimson;
    color:#fff;
    width: fit-content;
    padding: 5px 20px;
    margin: 20px auto;
    font-family: var(--BlackOpsOne);
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius:4px;
    transition: .4s ease;
}
.btn:hover{
    background:transparent;
    color:crimson;
}
.shop .content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.shop .content .card{
    position: relative;
    min-height: 450px;
    width: 30%;
    margin: 15px;
    border-radius:10px;
    cursor: pointer;
    box-shadow: 0px 5px 25px rgba(0,0,0, 0.2);
}
.shop .content .card img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius:10px;
    height: 100%;
}
.shop .content .card .btn{
    position: absolute;
    right: 10px;
    bottom: 0;
}
.shop .content .card .price{
    position: absolute;
    color:#fff;
    font-family: var(--RubikMonoOne);
    background: crimson;
    padding: 5px 10px;
    font-size: 22px;
    border-radius:10px;
    margin: 15px;
    cursor: pointer;
}
.contact .content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
} 
.contact .content .card{
    height: 300px;
    position: relative;
    width: 23%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    box-shadow:0 5px 25px rgba(1, 1, 1, .3);
    border-radius:15px;
    justify-content: center;
    cursor: pointer;
    transition: transform .3s ease;
}
.contact .content .card:hover  i{
    transform: translateY(-10px);
}
.contact .content .card i{
    font-size: 100px;
    margin: 20px;
    color:crimson;
}
.contact .content .card h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}
.contact .content .card span{
    font-size: 22px;
    font-weight: normal;
}

footer{
    background: #000;
    color:#fff;
    padding: 25px;
    text-align: center;
}
.footer-title{
    font-size: 22px;
}
@media only screen and (max-width:1100px){
    section{
        padding: 20px;
    }
    header{
        padding: 5px;
    }
    header span{
        font-size: 22px;
    }
    header.sticy{
        background:rgba(1, 1, 1, .3);
        padding: 2px 5px;
    }
    .navigation{
        display: none;
    }
    .menu-btn{
        position: absolute;
        background:url(/images/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        right: 10px;
        margin: 0 10px;
        cursor: pointer;
        transition: .4s ease;
    }
    .menu-btn.active{
        background:url(/images/close.png) no-repeat;
        z-index: 999;
        background-size: 25px;
        background-position:center;
        filter: invert(1);
        transition: .3s ease;
    }
    .navigation.active{
        z-index: 888;
        position: fixed;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        box-shadow:0 5px 25px rgba(1, 1, 1, 15%);
        transition: .4s ease;
    }
    header .navigation a{
        color:#000;
        font-size: 22px;
        margin: 10px;
        padding: 0 20px;
        border-radius: 20px;
    }
    .main h2{
        font-size: 36px;
    }
    .section-title{
        font-size: 26px;
    }
    .brand img{
        max-height: 60px;
    }
    .gallery .content .card{
        width: 45%;
    }
    .shop .content .card{
        width: 45%;
    }
    .shop .content .card .price{
        font-size: 18px;
    }
    .shop .content .card .btn{
        font-size: 18px;
        padding: 5px;
    }
    .contact .content .card{
        width: 45%;
    }
    .contact .content .card i{
        font-size: 60px;
    }
    .contact .content .card h3{
        font-size: 17px;
    }
    .contact .content .card span{
        font-size: 15px;
    }
    
}
@media only screen and (max-width:750px){
    section{
        padding: 20px;
    }
    .main h2 {
        font-size: 26px;
    }
    .section-title{
        font-size: 20px;
    }
    .gallery .content .card{
        width: 90%;
    }
    .shop .content .card{
        min-height:250px;
        width: 90%;
    }
    .contact .content .card{
        height: 200px;
        width: 90%;
    }
}
